---
rule_type: Agent Requested
description: {description}
---

# {title}

## Core Principles
- {principle_placeholder}

## Best Practices
- {practice_placeholder}

## Standards & Guidelines
- {standard_placeholder}

## Common Patterns
- {pattern_placeholder}
